{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/basestyle.css' %}"/>
        <title>
            Base Page Title
        </title>
    </head>
    <body>
        <header>
            <h1><a href="/">My blog</a></h1>
        </header>
        <div class="new">
            <h3>
                <a href="{% url 'new_article' %}">Add new Article</a>
            </h3>
        </div>

        <div>
            {% block  content %}
            {% endblock content %}
        </div>
    </body>
</html>